
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a *ngIf="!isLoggedIn()"  class="nav-link"  routerLink="/login">Sign in</a>
        <a *ngIf="isLoggedIn()"  class="nav-link" (click)="logOut()" routerLink="/users">Sign out</a>
        
      </li>
    </ul>
  </nav>
</div>


<div class="container mt-3" style="padding: 12px; ">

    <router-outlet></router-outlet>
    <a id="portfolio" routerLink="/users" title="Back to the Main Page"><i class="fa fa-link"></i></a>
  </div>
