<h3>Add New Person with Template Form</h3>

<form #userAddForm="ngForm" (ngSubmit)="add(userAddForm)">

    <div class="form-group">

        <input type="text" placeholder="First Name" #firstName="ngModel" [(ngModel)]="model.firstName" autocomplete="off" name="firstName" id="firstName" class="form-control" required>
        
        <div *ngIf="firstName.invalid && firstName.dirty" class="alert alert-danger">Please enter the Person's first name</div>

    </div>

    <div class="form-group">

        <input type="text" placeholder="Last Name" #lastName="ngModel" [(ngModel)]="model.lastName" name="lastName" autocomplete="off" id="lastName" class="form-control" required>
        
        <div *ngIf="lastName.invalid && lastName.dirty" class="alert alert-danger">Please enter the Person's last name</div>

    </div>

    <div class="form-group">
            <select class="form-control" #gender="ngModel" [(ngModel)]="model.gender" name="gender" id="gender" required >
                <option selected value ="" >Choose gender...</option>
                <option *ngFor="let gender of genders">{{gender.name}}</option>
            </select>
            <div *ngIf="gender.invalid && gender.touched" class="alert alert-danger">Please select your gender</div>
    </div>

     

    <div class="form-group">
        <select class="form-control" #country="ngModel" [(ngModel)]="model.country" name="country" id="country" required>
            <option selected value="" >Choose country...</option>
            <option *ngFor="let country of countries">{{country.country}}</option>

        </select>

        <div *ngIf="country.invalid && country.touched" class="alert alert-danger">Please select your country</div>

</div>


    <button type="submit" class="btn btn-primary" [disabled]="userAddForm.invalid">Add Person</button>


</form>